{
  "presets": ["env", "babel-preset-react", "babel-preset-stage-0"],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    ["transform-es2015-classes", { loose: true }],
  ]
}
