{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [2, "never"],
    "no-eq-null": 0,
    "space-before-function-paren": 2
  }
}
