<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
<script type="text/javascript">
  // Alias for javascript so syntax highlighting works fine
  Prism.languages.js = Prism.languages.javascript;
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js" ></script>
<script type="text/javascript" src="{{ "/assets/bootstrap-navbar.min.js" | prepend: site.url }}"></script>

<footer class="sp-vert-md">
  <a href="https://www.npmjs.com/package/alt"><img src="https://img.shields.io/npm/v/alt.png?style=flat-square" alt="npm version" /></a>
  <a href="https://gitter.im/goatslacker/alt"><img src="https://img.shields.io/badge/gitter-join%20chat-ff7d29.svg?style=flat-square" alt="Gitter Chat" /></a>
</footer>
